/* regole generali */
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: 'Nunito', sans-serif;
   font-weight: 700;
}
ul{
   list-style-type: none;
}
html, body{
   overflow: hidden;
}
a{
   transition: all 0.25s;
}
/* regole generali */

/* ADATTAMENTO IMG */
img{
   width: 100%;
   height: auto;
}

/* COSTRUZIONE ELEMENTI FISSI BOTTOM LEFT TOP */
/* bottom (PLAY) */
/* general */
.bot-play{
   background-color: #282828;
   width: 100vw;
   height: 80px;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 3;
   display: flex;
   justify-content: space-between;
}
/* general */

/* left */
.left-cont-play{
   width: 25%;
   display: flex;
   flex-flow: row nowrap;
}
.left-play{
   width: 100%;
   display: flex;
   flex-flow: wrap;
}
.left-play > a > img{
   width:45px;
   height: 45px;
   margin: 15px;
}

.titles{
   margin-top: 24px;
}

.titles h5{
   font-size: 12px;
   color: white;
   cursor: pointer;
}
.titles p{
   font-size: 10px;
   color: #575757;
   cursor: pointer;
}
.cont1-icons{
   margin-left: 30px;
   margin-top: 30px;
   font-size: 20px;
}
.cont1-icons a{
   text-decoration: none;
   color: #575757;
}
.cont1-icons i{
   padding: 0 7px;
   transition: all 0.25s;
}
.cont1-icons i:hover{
   color: white;
}

/* 2 */
.cont1-icons-2{
   display: none;
}
.cont1-icons-2 a{
   text-decoration: none;
   color: #575757;
}
.cont1-icons-2 i{
   padding: 0 7px;
   transition: all 0.25s;
}
.cont1-icons-2 i:hover{
   color: white;
}
/* 2 */

/* left */

/* center*/
.central-cont-play{
   width: 50vw;
   margin: 0 20px;
}

/* top-center */
.top-part{
   text-align: center;
}
.top-part img{
   width: 15px;
   height: 15px;
   margin: 0 5px;
   margin-bottom: 7px;
}
.top-part img:hover{
   cursor: pointer;
}
.top-part img:nth-child(3){
   width: 30px;
   height: 30px;
   margin-top: 10px;
   margin-bottom: 0;
}
.top-part img:nth-child(3):hover{
   transform: scale(1.2);
}
.top-part img:nth-child(4){
   transform: rotate(180deg);
}
/* top center */

/* bottom center */
.bottom-part{
   text-align: center;
   display: flex;
   flex-flow: nowrap;
   justify-content: space-between;
}
.bottom-part > span{
   padding: 0 5px;
   color: white;
   font-size: 8px;
   padding-top: 6.5px;
}

.barra{
   display: inline-block;
   width: 90%;
   height: 3px;
   background-color: #5a5a5a;
   margin: 10px 5px;
   border-radius: 20px;
}
.barra-nested{
   width: 25%;
   height: 3.15px;
   background-color: #c1c1c1;
   border-radius: 20px;
   text-align: right;
   position: relative;
}

.barra-nested i{
   color: white;
   font-size: 12px;
   position: absolute;
   bottom: -10px;
   right: -103px;
   padding: 5px 100px;
}

.barra-nested:hover{
   background-color: #51ff00;
   cursor: pointer;
}
/* bottom center */

/* central */

/* right */
/* durata */
.right-cont-play{
   width: 25%;
   display: flex;
   flex-flow: nowrap;
   text-align: right;
}
.right-cont-play img{
   width: 15px;
   height: 15px;
   margin: 0 5px;
}
.right-cont-play a{
   text-decoration: none;
}
.right-cont-play a img:hover{
   transform: scale(1.2);
}
.contain-right{
   width: 100%;
   margin-top:35px;
}
.barra2{
   display: inline-block;
   width: 100px;
   height: 3px;
   background-color: #5a5a5a;
   margin: 0px 5px;
   margin-bottom: 5px;
   border-radius: 20px;
}
.barra-nested2{
   width: 25%;
   height: 3.15px;
   background-color: #c1c1c1;
   border-radius: 20px;
   text-align: right;
   position: relative;
}
.barra-nested2 i{
   color: white;
   font-size: 12px;
   position: absolute;
   bottom: -5px;
   right: -11px;
}
.barra-nested2:hover{
   background-color: #51ff00;
   cursor: pointer;
}
/* durata */
/* right */
/* bottom (PLAY) */


/* left (SPOTIFY) */
/* container 1 */
.left-spotify{
   background-color: #000000;
   min-width: 250px;
   height: calc(100vh - 80px);
   padding-top: 24px;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   z-index: 2;
}

#logo{
   width: 131px;
   height: 40px;
   margin-bottom: 24px;
   margin-left: 24px;
}
#home{
   border-left: 5px solid #adff2f;
}
#home a{
   color: #fafafa;
   font-size: 14px;
   font-weight: 700;
}
#home a > img{
   color: red;
}
#cerca:hover, #lib:hover{
   border-left: 5px solid #adff2f;
   transition: all 0.35s;
}

.icons-left-spotify{
   height: 40px;
   width: 80%;
   position: relative;
   padding-left: 24px;
}
.icons-left-spotify a{
   width: 100%;
   text-decoration: none;
   color: #b3b3b3;
}
.icons-left-spotify a:hover{
   color: white;
}

.icons-left-spotify img{
   width: 24px;
   height: 24px;
   margin: 5px;
   color: red;
}
.icons-left-spotify > a > span{
   position: absolute;
   bottom: 11px;
   left: 65px;
}
/* container 1 */


/* container 2 */
.second-container-left{
   margin-top: 24px;
   padding-left: 24px;
}
.second-container-left h3{
   color: white;
}
.second-container-left a{
   text-decoration: none;
   color: #707070;
   position: relative;
}
.second-container-left a:hover{
   color: white;
}
#playlist > ul{
   padding: 10px 0;
   max-height: 35vh;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
}
#playlist > ul i{
   font-size: 45px;
   padding-right: 5px;
}
#playlist > ul > li:nth-child(1){
   font-size: 18px;
}
#playlist > ul > li:nth-child(1) span{
   width: 150px;
   position: absolute;
   bottom: 15px;
   left: 50px;
}
#playlist > ul > li{
   flex-shrink: 2;
}

.dist-font{
   padding: 8px 0;
   font-size: 14px;
}
/* container 2 */


/* container 3 */
.third-container-left{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding-left: 24px;
   height: 100%;
   color: white;
   z-index: 1;
}
.third-container-left h3{
   display: inline-block;
}
.third-container-left a{
   text-decoration: none;
   color: #707070;
   font-size: 14px;
   cursor: pointer;
}
.third-container-left a:hover{
   color: white;
}
#hr{
   border-bottom: 1px solid #b3b3b3;
   margin-top: 10px;
   width: 90%;
}
/* container 3 */
/* left (SPOTIFY) */
/* left (SPOTIFY) mobile */
.left-spotify-xxs{
   background-color: #000000;
   width: 50px;
   height: calc(100vh - 80px);
   padding-top: 24px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   z-index: 2;
   display: none;
}
/* left (SPOTIFY) mobile */


/* top (UPGRADE) */
header {
   position: fixed;
   right: 0;
   top: 0;
   width: calc(100vw - 250px);
   background-color: rgba(0, 0, 0, 0.5);
   height: 80px;
}

header a{
   text-decoration: none;
   color: white;
   border: 1px solid white;
   border-radius: 30px;
   padding: 10px 25px;
   font-size: 12px;
   position: absolute;
   top: 20px;
   right: 40px;
}
header a:hover{
   transform: scale(1.1);
}
/* top (UPGRADE) */
/* COSTRUZIONE ELEMENTI FISSI BOTTOM LEFT TOP */


/* COSTRUZIONE DEL MAIN (PARTE CENTRALE BRANI) */
#sec-left{
   display: flex;
}
main{
   width: 100vw;
   height: calc(100vh - 80px);
   background-color: #141922;
   display: inline-block;
   padding-top: 90px;
   color: pink;
   overflow-y: auto;
   overflow-x: hidden;
}
main a{
   text-decoration: none;
}

/* nav center-top */
.container-center-nav ul{
   text-align: center;
}
.container-center-nav ul li {
   display: inline-block;
   text-align: center;
   position: relative;
}

.container-center-nav ul li a{
   padding-top: 5px;
   padding-left: 5px;
   padding-right:5px;
   color: #7d7f84;
   display: inline-block;
   font-size: 12px;
}
.container-center-nav ul li:nth-child(1) a{
   color: white;
}
.container-center-nav ul li a:hover{
   color: white;
}

/* EFFETTO SOTTOLINEAMENTO PARZIALE */
.container-center-nav ul > li > a > #first:after {
  content: '';
  width: 35px;
  height: 2px;
  background: #adff2f;
  border-radius: 50px;
  position: absolute;
  bottom: -1.5px;
  left: 0px;
  transform: translateX(70%);
}

.container-center-nav ul > li > a > #second:after {
  content: '';
  width: 30px;
  height: 2px;
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 50px;
  position: absolute;
  bottom: -1.5px;
  left: -22px;
  transform: translateX(50%);
}
#second:hover {
   content: '';
   width: 30px;
   height: 2px;
   border-bottom: 2px solid #adff2f;
   border-radius: 50px;
   position: absolute;
   bottom: -1.5px;
   left: 4px;
   transform: translateX(50%);
   transition: all 0.35s;
   z-index: 2;
}

.container-center-nav ul > li > a > #third:after {
  content: '';
  width: 30px;
  height: 2px;
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 50px;
  position: absolute;
  bottom: -1.5px;
  left: -22px;
  transform: translateX(65%);
}
#third:hover {
   content: '';
   width: 40px;
   height: 2px;
   border-bottom: 2px solid #adff2f;
   border-radius: 50px;
   position: absolute;
   bottom: -1.5px;
   left: 5px;
   transform: translateX(50%);
   transition: all 0.35s;
   z-index: 2;
}

.container-center-nav ul > li > a > #fourth:after {
  content: '';
  width: 45px;
  height: 2px;
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 50px;
  position: absolute;
  bottom: -1.5px;
  left: -22px;
  transform: translateX(50%);
}
#fourth:hover {
   content: '';
   width: 45px;
   height: 2px;
   border-bottom: 2px solid #adff2f;
   border-radius: 50px;
   position: absolute;
   bottom: -1.5px;
   left: 8px;
   transform: translateX(50%);
   transition: all 0.35s;
   z-index: 2;
}

.container-center-nav ul > li > a > #fifth:after {
  content: '';
  width: 40px;
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 50px;
  position: absolute;
  bottom: -1.5px;
  left: -22px;
  transform: translateX(60%);
}
#fifth:hover {
   content: '';
   width: 42px;
   height: 2px;
   border-bottom: 2px solid #adff2f;
   border-radius: 50px;
   position: absolute;
   bottom: -1.5px;
   left: 8.5px;
   transform: translateX(50%);
   transition: all 0.35s;
   z-index: 2;
}

.container-center-nav ul > li > a > #sixth:after {
  content: '';
  width: 23px;
  height: 2px;
  padding-top: 25px;
  padding-left: 25px;
  border-radius: 50px;
  position: absolute;
  bottom: -1.5px;
  left: -22px;
  transform: translateX(75%);
}
#sixth:hover {
   content: '';
   width: 23px;
   height: 2px;
   padding-left: 15px;
   border-bottom: 2px solid #adff2f;
   border-radius: 50px;
   position: absolute;
   bottom: -1.5px;
   left: 3.5px;
   transform: translateX(50%);
   transition: all 0.35s;
   z-index: 2;
}
/* EFFETTO SOTTOLINEAMENTO PARZIALE */
/* nav center-top */


/* INIZIO BRANI */
/* container totale aside brani */
#total-container-brani{
   margin: 35px 20px;
}
/* container totale aside brani */

/* aside brani (general) */
.container-row{
   margin: 5px;
   display: flex;
   flex-flow: nowrap row;
   margin-bottom: 35px;
}

/* h1 titles/text settings */
#total-container-brani > h1{
   font-size: 20px;
   color: white;
   margin-left: 12px;
   margin-bottom: 25px;
}
#total-container-brani > p{
   font-size: 14px;
   color: #7d7f84;
   margin-left: 12px;
   margin-bottom: 20px;
   margin-top: -20px;
}
/* h1 titles/text settings*/

.box{
   text-align: center;
   margin: 10px 7px;
   width: 150px;
   display: flex;
   flex-flow: nowrap column;
}

.center-b > .box,
.bottom-b > .box{
   margin-right: 15px;
}

.box-2{
   word-break: break-word;
}
.box-2 > h2{
   font-size: 14px;
   color: white;
   margin: 8px 0;
}

.box-2 > p{
   font-size: 11px;
   color: #7d7f84;
}

.circle{
   border-radius: 50%;
}

/* play all'hover */
.container-row .box a{
   position: relative;
}
.container-row .box .play-cont{
   font-size: 50px;
   color: white;
   padding: 60px 50px;
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -62.5%);
   opacity: 0;
}
.container-row .box:hover{
   opacity: 0.5;
}
.container-row .box .play-cont:hover{
   opacity: 1;
}

.container-row .box:nth-child(2) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -81.3%);
}
.top-b > .box:nth-child(2) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -80%);
}
.top-b > .box:nth-child(5) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -63%);
}
.center-b > .box:nth-child(2) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -62%);
}
.bottom-b > .box:nth-child(2) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -62%);
}
/* play all'hover */

.container-row .box:nth-child(2) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -81.3%);
}
.top-b > .box:nth-child(2) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -80%);
}
.top-b > .box:nth-child(5) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -63%);
}
.center-b > .box:nth-child(2) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -62%);
}
.bottom-b > .box:nth-child(2) .play-cont{
   position:absolute;
   left:50%;
   top: 50%;
   transform: translate(-50%, -62%);
}
/* play all'hover */
/* aside brani (general) */

/* top-b */
.top-b{
   justify-content: space-between;
}
/* top-b */

/* center-b */
.center-b{
   justify-content: flex-start;
}
/* center-b */

/* bottom-b */
.bottom-b{
   justify-content: flex-start;
}
/* bottom-b */
/* FINE BRANI */


/* COSTRUZIONE DEL MAIN (PARTE CENTRALE BRANI) */


/* MEDIA QUERIES */

/* versione desktop lg */
@media screen and (max-width: 993px) {
   .top-b{
      justify-content: flex-start;
      flex-wrap: wrap;
   }
   .cont1-icons{
      margin-left: 0;
      font-size: 11px;
   }
   .cont1-icons a i{
      display: block;
   }
}

@media screen and (max-width: 830px){
   .contain-right{
      width: 100%;
      margin-top: 20px;
   }
}

@media screen and (max-width: 681px){
   .cont1-icons{
      display: none;
   }
   .cont1-icons-2{
      display: block;
   }
   .titles{
      margin-top: 13px;
      margin-left: 3px;
   }
   .cont1-icons-2 > a > i{
      padding: 1px;
   }
}
@media screen and (max-width: 615px){
   .left-play > a{
      display: none;
   }

   .titles h5{
      font-size: 14px;
   }
   .titles p{
      font-size: 11px;
   }

   .box-2 h2{
      font-size: 17px;
   }
   .box-2 p{
      font-size: 14px;
   }


}

/* versione mobile xxs */
@media screen and (max-width:650px){
   .left-spotify{
      display: none;
   }

   .left-spotify-xxs{
      display: block;
      display: flex;
   }

   header{
      width: calc(100vw - 40px);
   }

   #lib:hover, #cerca:hover, #home, .icons-left-spotify{
      border: none;
      padding: none;
      margin: none;
   }
   .icons-left-spotify img{
      margin: 0;
      padding: 0;
   }
   .icons-left-spotify{
      padding: 0;
      margin-right: 0;
      padding-left: 10px;
   }
   .first-container-left{
      display: flex;
      flex-direction: column;
   }
   .third-container-left{
      text-align: center;
      padding-left: 10px;
   }

   #logo-small{
      padding-bottom: 20px;
      padding-left: 10px;
   }
}

@media screen and (min-width: 427px) and (max-width: 592px){
   .top-b{
      justify-content: flex-start;
   }
   .container-row .box{
      margin-right: 50px;
   }
}

@media screen and (max-width: 513px){
   .container-row{
      flex-wrap: wrap;
      justify-content: space-around;
   }
   .container-row .box{
      margin-right: 0;
   }
   #total-container-brani > h1,
   #total-container-brani > p{
      text-align: center;
      padding-right: 0;
   }

   .cont1-icons{
      margin-top: 23px;
   }
   .cont1-icons i{
      display: block;
   }
}

@media screen and (max-width: 341px){
   .titles{
      margin-top: 5px;
   }
   .barra2{
      margin-bottom: 15px;
      margin-right: 10px;
   }

   header a{
      padding: 7px 22px;
      font-size: 10px;
   }
}

@media screen and (max-width: 380px){
   .top-part img{
      margin-left: 0;
      margin-right:0;
   }
}
